@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

.wrapper {
    display: grid;
    width: 90%;
    margin: 10px auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "content content content content content content"
    "foot foot foot foot foot foot";
}

header {
    background-color: red;
    color: navy;
    grid-area: header;
    background-image: url("../img/beans.jpg");
    /* opacity: 0.5; */
    height: 100px;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    border-radius: 20% 20% 0% 0%;
    padding-left: 10px;
    padding-bottom: 5px;
}

nav {
    background-color:#FFF6E0;
    grid-area: nav;
}

nav ul > *:hover {
    background-color: rgb(189, 155, 69);
}

nav ul > * {
    width: 15%;
    text-align: center;
    font-size: 1.5em;
}

nav ul li a {
    text-decoration-line: none;
}

nav ul {
    list-style-type: none;
    /* background-color: #e6bf98; 
    padding: .75em;
    margin: 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 80%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
    display: none;
  }

.main {
    background-color: rgb(98, 110, 173);
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-content: space-between; */

}

/* .sidebar {
    background-color: purple;
    grid-area: sidebar;
} */

footer {
    background-color: #FFF6E0;
    grid-area: foot;
    border-radius: 0% 0% 20% 20%;
}

footer p {
    text-align: center;
}


  img {
      width: 80%;
      height: 100%;

      border-radius: 5%;
  }
  article {
      width: 20%;
      margin-left: 4%;
      margin-top: 2%;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 0;
            /* width: 15%;
      height: 150px; */
      background-color: rgba(255, 255, 255, 0.76);
 
  }

  article:last-child {
      margin-bottom: 2%;
  }

  .main article {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 6fr 3fr;
      align-content: center;
      justify-content: center;
      align-items: stretch;
      justify-items: center;
      border-radius: 2%;
  }

  .main article:hover {
    border-style: outset;
  }

  .main article h2 {
      
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 20px;
      /* background-color: pink; */
  }

  .main article img {
    grid-row: 2/3;
    grid-column: 1/2;
    /* background-color: orange; */
}

.main article p {
    grid-row: 3/4;
    grid-column: 1/2;
    /* background-color: purple; */
}

  /* Tablet devices */
  @media (max-width: 850px) { 
    .main article {
        width: 44%;
    }

    }

    /* Small devices (phones etc) */
@media (max-width: 550px) { 
    .main article {
        width: 92%;
    }

    nav {position: relative;}
    nav li:not(:last-child) {display: none;}
    /* nav li:not(:last-child) {width: 100%; display: block;} */
    nav .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    nav ul {
        display: block;
      justify-content: left;
      /* width: 100%; */
    }
    /* nav ul li a {
        float: none;
        display: block;
        text-align: left;
    } */

    .navBar.responsive {position: relative;}
    .navBar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
   
    .navBar.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  
  }