@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* .wrapper {
    margin: 0 auto;
    width: 97%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav";
}

.wrapper header {
    grid-area: header;
}

.wrapper nav {
    grid-area: nav;
} */

/* .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 97%;
} */

nav ul {
    list-style-type: none;
    background-color: #e6bf98; 
    padding: .75em;
    margin: 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  /* nav li:nth-child(even) {
    width: 50%;
    float: right;
    padding: 0.5em;
  }
  nav li:nth-child(odd) {
    width: 50%;
    float: left;
      padding: 0.5em;
  } */

  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }

  nav a {
    color: #c80060;
    text-decoration: none;
    display: block;
    padding-left:3.333333%;
  }
  nav a:hover {
    color:#00c4c7;
  }
  
