@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "content content content content content content"
    "foot foot foot foot foot foot";
}

header {
    background-color: red;
    color: navy;
    grid-area: header;
    background-image: url("../img/beans.jpg");
    /* opacity: 0.5; */
    height: 100px;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
}

nav {
    background-color:#FFF6E0;
    grid-area: nav;
}

nav ul > *:hover {
    background-color: rgb(189, 155, 69);
}

nav ul > * {
    width: 15%;
    text-align: center;
    font-size: 1.5em;
}

nav ul li a {
    text-decoration-line: none;
}

nav ul {
    list-style-type: none;
    /* background-color: #e6bf98; 
    padding: .75em;
    margin: 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 80%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

.main {
    background-color: blue;
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-content: space-between; */

}

/* .sidebar {
    background-color: purple;
    grid-area: sidebar;
} */

footer {
    background-color: lightgreen;
    grid-area: foot;
}


  img {
      width: 80%;
      height: 90px;

      border-radius: 5%;
  }
  article {
      width: 250px;
      height: 150px;
            /* width: 15%;
      height: 150px; */
      background-color: rgba(255, 255, 255, 0.76);
  }

  .main article {
    margin: 0.8%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 6fr 3fr;
      align-content: center;
      justify-content: center;
      align-items: stretch;
      justify-items: center;
  }

  .main article h2 {
      
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 20px;
      background-color: pink;
  }

  .main article img {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: orange;
}

.main article p {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: purple;
}