@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

.wrapper {
    display: grid;
    width: 90%;
    margin: 10px auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "content content content content content content"
    "foot foot foot foot foot foot";
}

header {
    background-color: red;
    color: navy;
    grid-area: header;
    background-image: url("../img/beans.jpg");
    /* opacity: 0.5; */
    height: 100px;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    border-radius: 20% 20% 0% 0%;
    padding-left: 10px;
    padding-bottom: 5px;
}

nav {
    background-color:#FFF6E0;
    grid-area: nav;
}

nav ul > *:hover {
    background-color: rgb(189, 155, 69);
}

nav ul > * {
    width: 15%;
    text-align: center;
    font-size: 1.5em;
}

nav ul li a {
    text-decoration-line: none;
}

nav ul {
    list-style-type: none;
    /* background-color: #e6bf98; 
    padding: .75em;
    margin: 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 80%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}

.main {
    background-color: blue;
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    align-content: center;
    background-image: url("../img/nature.jpg");
    min-height: 1200px;
}

.main p {
  font-size: 5em;
  text-align: center;
}

.button {
  border-radius: 8px;
  font-size: 5em;
  padding: 10px;
  margin: 20px;
}

.button:hover {
  background-color: grey;
}

footer {
    background-color: #FFF6E0;
    grid-area: foot;
    border-radius: 0% 0% 20% 20%;
}

footer p {
  text-align: center;
}


  /* Tablet devices */
  @media (max-width: 850px) { 


    }

    /* Small devices (phones etc) */
@media (max-width: 550px) { 

nav {position: relative; padding: 10px;}
nav li:not(:first-child) {display: none; width: 100%; text-align: left;}
nav li:first-child {display: block; width: 100%; text-align: left;}
nav .icon {
  display: block;
}

nav ul {
  display: block;
  justify-content: left;
}

.navBar.responsive li {
  float: none;
  display: block;
}

}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}